<template>
  <section class="section">
    <div class="columns is-mobile">
      <card
        title="Free"
        icon="github"
      >
        Open source on <a href="https://github.com/buefy/buefy">
          GitHub
        </a>
      </card>

      <card
        title="Responsive"
        icon="cellphone-link"
      >
        <b class="has-text-grey">
          Every
        </b> component is responsive
      </card>

      <card
        title="Modern"
        icon="alert-decagram"
      >
        Built with <a href="https://vuejs.org/">
          Vue.js
        </a> and <a href="http://bulma.io/">
          Bulma
        </a>
      </card>

      <card
        title="Lightweight"
        icon="arrange-bring-to-front"
      >
        No other internal dependency
      </card>
    </div>
    <div class="columns is-mobile">
      <card
        v-for="user in users"
        :key="user.id"
        :title="user.username"
        icon="arrange-bring-to-front"
      >
        {{ user.email }}
      </card>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card'
import { getUsers } from '~/services/users'

export default {
  name: 'HomePage',

  components: {
    Card
  },
  data () {
    return {
      users: []
    }
  },
  mounted () {
    getUsers().then((users) => {
      console.log('users -> ', users)
      this.users = users
    })
  }
}
</script>
